body{
    background-color: #FFD700;
}

a {
    text-decoration: none;
}
#aMod h1 {
    color: green;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
}

#barElement{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    margin-right: 50px;
    margin-top: 20px;
}

#barElement:hover{
    color: #FFD700;
}

#album{
    display: flex;
    justify-content: center;
}